@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@400;600;700;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	width: 1200px;
	margin: 0 auto;
}

.heading-block__title {
	font-family: 'Fraunces', 'Arial', sans-serif;
	font-weight: 900;
	line-height: 70px;
	font-size: 24px;
	color: #fefcf7;
}
.heading-block__subtitle {
	font-family: 'Barlow', 'Arial', sans-serif;
	font-weight: 400;
	line-height: 26px;
	font-size: 16px;
	color: #fefcf7;
	opacity: 0.8;
}
.plan-link {
	padding: 15px 30px;
	line-height: 25px;
	border-radius: 6px;
	font-size: 18px;
	font-weight: 900;
	color: #fefcf7;
	text-decoration: none;
	background-color: #0e8784;
	font-family: 'Fraunces', 'Arial', sans-serif;
}
.plan-link:hover {
	background-color: #66d2cf;
}
.card {
	text-align: center;
	margin: 0 15px;
}

/* //! header styles */
.site-nav {
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 35px;
}
.logo {
	margin-right: auto;
	text-decoration: none;
}
.site-nav__links {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.site-nav__link {
	text-decoration: none;
	font-family: 'Fraunces', 'Arial', sans-serif;
	text-transform: uppercase;
	color: #83888f;
}
.site-nav__link:hover {
	color: #333d4b;
}

/* //! main styles */
.site-hero__img-holder {
	width: 100%;
	height: 550px;
	border-radius: 15px;
	background-image: url('./img/hero-bg.png');
}
.site-hero__card {
	width: 60%;
	padding-top: 100px;
	padding-left: 80px;
}
.site-hero__title {
	font-size: 72px;
}
.heading-block__subtitle_small-width {
	margin-top: 20px;
	width: 80%;
}
.site-hero__link {
	display: inline-block;
	margin-top: 56px;
}

/* //! plan section */
.plans {
	margin-top: 100px;
	padding-top: 120px;
	background-image: url('./img/collection.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.plan__plans-box {
	display: flex;
	justify-content: space-around;
}
.card__body-title {
	color: #333d4b;
}
.card__body-subtitle {
	color: #333d4b;
}
.section{
	width: 1200px;
	margin: 0 auto;
	height: 550px;
	margin-top: 100px;	
	background: #2C343E;
border-radius: 10px;
}
.home_active{
text-align: center;
}	
.home_active_head{
	font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #FEFCF7;
	padding-top: 112px;
	padding-bottom: 32px;
}
.home_active_about{
	font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
mix-blend-mode: normal;
color: #FEFCF7;
opacity: 0.8;
	width: 540px;
	height: 80px;
	margin: 0 auto;	

}
.home_active_cards{
	display: flex;
	justify-content: center;
}
.home_active_card{
width: 350px;
height: 382px;
background-color:  #0E8784;
border-radius: 8px;
margin: 10px;
position: relative;
top: 50px;
text-align: center;

}
.img{
   padding-top: 72px;
}

.home_active_title{
	width: 255px;
	height: 32px;
	justify-content: center;
	padding-top: 56px;
	margin: 0 auto;
   display: flex;
  font-family: 'Fraunces';
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 32px;
color: #FEFCF7;
}
.home_active_subtitle{
	width: 255px;
	height: 78px;
	margin: 0 48px;
	font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #FEFCF7;
padding-top: 56px;

}
.how-it-works{
	width: 1045px;
	height: 565px;
}
.how-it-work{
	margin-top: 200px;	
font-family: 'Fraunces';
font-weight: 900;
font-size: 24px;
line-height: 32px;

color: #83888F;
}
.path{
	width: 700px;
	height: 30px;
	margin-top: 110px;
  position: relative;
  display: flex;
  
  align-items: center;
}
.home_active_card_number{
	width: 350px;
height: 382px;
border-radius: 8px;
margin: 10px;
position: relative;
top: 50px;

}
.home_active_card_numbers{
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
}
.home_active_title_number{
	width: 255px;
	height: 73px;
	margin-top: 38px;
font-family: 'Fraunces';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 36px;
color: #333D4B;
}
.number{
	
font-family: 'Fraunces';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 72px;
color: #FDD6BA;
}
.home_active_subtitle_number{
	font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #333D4B;
width: 285px;
height: 130px;
margin-top: 30px;
}
.footer{
	margin-top: 380px;
	margin-bottom: 600px;
	width: 1200px;
	height: 80px;
	background-color: #2C343E;
justify-content: space-between;
	display: flex;

}
.logotip{
	color: #FFFFFF;
	
text-decoration: none;
	padding: 25px 120px;
}
.icon>i:hover{
	color: #FDD6BA;

}
.icon>i{
	width: 24px;
	height: 24px;
	padding-top: 30px;
	margin-right: 20px;
}
.site-nav_link{
	font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
text-transform: uppercase;
color: #83888F;
text-decoration: none;}

.site-nav_link:hover{
   color:  #FEFCF7;
   
}

